<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="io.takari.modello.editor.modelloPlugin" name="Modello Plugin" schema="schema/io.takari.modello.editor.modelloPlugin.exsd"/>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="mdo,xml"
            id="io.takari.modello.editor.modelloModel"
            name="Modello Data Model"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="{http://modello.codehaus.org/MODELLO/1.0.0}model">
            </parameter>
            <parameter
                  name="element"
                  value="{http://modello.codehaus.org/MODELLO/1.1.0}model">
            </parameter>
            <parameter
                  name="element"
                  value="{http://modello.codehaus.org/MODELLO/1.2.0}model">
            </parameter>
            <parameter
                  name="element"
                  value="{http://modello.codehaus.org/MODELLO/1.3.0}model">
            </parameter>
            <parameter
                  name="element"
                  value="{http://modello.codehaus.org/MODELLO/1.4.0}model">
            </parameter>
            <parameter
                  name="element"
                  value="{http://modello.codehaus.org/MODELLO/1.4.1}model">
            </parameter>
            <parameter
                  name="element"
                  value="{http://modello.codehaus.org/MODELLO/1.5.0}model">
            </parameter>
            <parameter
                  name="element"
                  value="{http://modello.codehaus.org/MODELLO/1.6.0}model">
            </parameter>
            <parameter
                  name="element"
                  value="{http://modello.codehaus.org/MODELLO/1.7.0}model">
            </parameter>
            <parameter
                  name="element"
                  value="{http://modello.codehaus.org/MODELLO/1.8.0}model">
            </parameter>
            <parameter
                  name="element"
                  value="{http://modello.codehaus.org/MODELLO/1.8.1}model">
            </parameter>
            <parameter
                  name="element"
                  value="{http://modello.codehaus.org/MODELLO/1.8.2}model">
            </parameter>
            <parameter
                  name="element"
                  value="{http://modello.codehaus.org/MODELLO/1.8.3}model">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="io.takari.modello.editor.impl.ui.ModelloEditor"
            contributorClass="io.takari.modello.editor.toolkit.editor.DocumentEditorContributor"
            default="true"
            extensions="mdo"
            icon="platform:/plugin/org.eclipse.wst.xml.ui/$nl$/icons/xmldoc.gif"
            id="io.takari.modello.editor.modelloEditor"
            name="Modello Model Editor">
         <contentTypeBinding
               contentTypeId="io.takari.modello.editor.modelloModel">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
          <command
                commandId="io.takari.modello.editor.commands.addItem"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <instanceof
                         value="io.takari.modello.editor.impl.Object1">
                   </instanceof>
                </iterate>
             </visibleWhen>
          </command>
      </menuContribution>
   </extension>
   <extension
         point="io.takari.modello.editor.modelloPlugin">
      <plugin
            class="io.takari.modello.editor.impl.model.plugin.java.JavaMetadataPlugin"
            name="Java Generator">
      </plugin>
      <plugin
            class="io.takari.modello.editor.impl.model.plugin.model.ModelMetadataPlugin"
            name="Model Generator">
      </plugin>
      <plugin
            class="io.takari.modello.editor.impl.model.plugin.xml.XmlMetadataPlugin"
            name="XML Generator">
      </plugin>
      <plugin
            class="io.takari.modello.editor.impl.model.plugin.xsd.XsdMetadataPlugin"
            name="XSD Generator">
      </plugin>
      <plugin
            class="io.takari.modello.editor.impl.model.plugin.xdoc.XDocMetadataPlugin"
            name="XDoc Generator">
      </plugin>
   </extension>
</plugin>
